@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300');

* {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #06F;
    margin: 0;
    padding: 0;
}

body {
    width: 768px;
    margin: 32px auto;
}

.panel {
    width: 63px;
    height: 63px;
    margin: 1px 1px 0px 0px;
    float: left;
    display: block;
    background: #FFF;
    transition: 0.1s;
}

.link {
    position: relative;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.link:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}
.link>img {
    width: 100%;
    height: 100%;
    text-align: center;
}
.link>p {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    text-shadow: 0px 0px 4px #FFF, 0px 0px 4px #FFF, 0px 0px 4px #FFF, 0px 0px 4px #FFF, 0px 0px 4px #FFF, 0px 0px 4px #FFF, 0px 0px 4px #FFF, 0px 0px 4px #FFF;
    font-size: 300%;
    transform: translate(0, -50%);
}

.text {
    overflow: scroll;
}

.text>p {
    margin: 4px 0px;
}

.text>img {
    max-width: 100%;
    margin-top: 64px;
    margin-bottom: 16px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);    
}

.video>iframe {
    width: 100%;
    height: 100%;
}

.sound>iframe {
    width: 100%;
    height: 100%;
}

.game {
    z-index: -1;
}
